$lightblue: #658CBF;
$darkblue: #2A4759;
$mustardyellow: #F2AF5C;
$rose: #F2D5CE;
$lightrose: #FFF5F2;
$salmon: #D98F8F;

$golden:    #F2AB27;
$blue:      #03A6A6;
$pink:      #D94AA7;
$red:       #BF0426;
$darkgold:  #D97904;
