// @import '_colors';       // Already imported in _mixins. 

@import '_mixins';
/* Elements, Ids, Classes */

body {
    min-height: 100vh;
}

.App {
    min-height: 100vh;
    background: url('../assets/polygon-scatter-haikei.svg') no-repeat center center fixed;
    background-size: cover;
}

#timer-container{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #timer {
        padding: 3rem 2rem;
        min-width: 40vw;
        @include glass-element();
    }

}

